:root{
    ---color_white: #FFF;
    ---color-black: black;
}
html, body{
    background: black;
    color: var(---color_white);
    height: 100%;
    scroll-behavior: smooth;
}

main{
    flex: 1;
}

.expandable {
    place-self: center;
    height: auto;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.rust{
    color: white;
}

.expandable.active {
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    max-height: 500px; /* ajuste conforme o conteúdo */
    opacity: 1;
}

footer{
    position: absolute;
    justify-self: anchor-center;
    text-align: center;
    font-size: 13px;
    bottom: 0;
    font-family: monospace;
}

header > .separator-2 a{
    color: var(---color_white);
    opacity: 0.7;
    display: inline-block;
    transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
}

header > .separator-2 a:hover{
    opacity: 1;
    transform: scale(1.05);
}

header > .separator-3 a{
    color: var(---color_white);
    list-style: none;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    font-style: normal;
}

.cab-x{
    padding-bottom: 1rem;
    border-bottom: 1px solid #ffffff1a;
    margin: 1rem 2rem 0px 2rem;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img{
    width: 80px;
}

.separator-2 ul{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.separator-3 a{
    color: var(---color-black) !important;
    padding: 10px 30px;
    border-radius: 30px;
    background: #fda502;
    font-size: 15px;
    border: 0;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

.separator-3 a:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 8px #da8f04;
}

.section-go-to{
    flex-direction: column;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    padding: 5rem;
}

.links-section-go-to li a{
    list-style: none;
    font-family: monospace;
    font-size: 15px;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
    color: var(---color_white);
}

.links-section-go-to li a:hover{
    opacity: 0.7;
}

.links-section-go-to{
    text-align: center;
}

.form-contatos ul{
    text-align: center;
    display: flex;
    justify-self: center;
    gap: 1rem;
}

.form-contatos ul li a{
    font-size: 27px;
    cursor: pointer;
    color: #ffffff80;
}

.swiper {
    margin: 1rem;
    width: 100%;
}

.swiper-wrapper{
    display: flex;
    justify-content: space-between;
}
  
.swiper-slide {
    display: flex;
    justify-items: anchor-center;
    flex-direction: column;
    align-items: center;
    transform: rotate(-5deg);
}

.swiper-slide img:hover{
    opacity: .7;
}

.swiper-slide img {
    width: 50px;
    transition: opacity 0.3s ease-in-out;
    height: 50px;
    margin-bottom: 12px;
    transform: rotate(10deg);
}

.swiper-slide p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #8b949e;
}
@media (max-width: 768px) {
    .separator-3 a{
        padding: 5px 15px;
    }

    .separator-2 ul{
        flex-wrap: wrap;
        display: flex;
        gap: 0.3rem;
        padding: 0.5rem;
    }

    .separator-2 ul li{
        font-size: 13px;
    }
    .cab-x{
        margin: 0.3rem 0.5rem 0px 0.5rem
    }
    
}
