:root{
    ---color_white: #FFF;
    ---color-black: black;
}
html, body{
    background: black;
    color: var(---color_white);
    scroll-behavior: smooth;
}

main{
    flex: 1;
}

.btn-preview .ripple{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 600ms linear;
    background-color: rgba(255, 255, 255, 0.3); /* Cor mais clara */
    pointer-events: none;
}


.btn-solicitar .ripple{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 600ms linear;
    background-color: rgba(255, 255, 255, 0.3); /* Cor mais clara */
    pointer-events: none;
}

@keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

.expandable {
    overflow: hidden;
    height: auto;
    opacity: 0;
    transition: height 1s ease, opacity 0.5s ease, padding 0.5s ease;
    padding: 0 3rem;
    display: block; /* manter como block/flex para animar height */
  }
  
  .expandable.active {
    height: auto; /* será alterado via JS */
    opacity: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  


.rust{
    color: white;
}
.content-service{
    position: relative;
}

footer{
    position: relative;
    justify-self: anchor-center;
    text-align: center;
    font-size: 13px;
    bottom: 0;
    font-family: monospace;
}

header > .separator-2 a{
    color: var(---color_white);
    opacity: 0.7;
    display: inline-block;
    transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
}

header > .separator-2 a:hover{
    opacity: 1;
    transform: scale(1.05);
}

header > .separator-3 a{
    color: var(---color_white);
    list-style: none;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    font-style: normal;
}

.cab-x{
    padding-bottom: 1rem;
    border-bottom: 1px solid #ffffff1a;
    margin: 1rem 2rem 0px 2rem;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img{
    width: 80px;
}

.separator-2 ul{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.separator-3 a{
    color: var(---color-black) !important;
    padding: 10px 30px;
    border-radius: 30px;
    background: #fda502;
    font-size: 15px;
    border: 0;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

.separator-3 a:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 8px #da8f04;
}

.section-go-to{
    flex-direction: column;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    padding: 5rem;
}

.links-section-go-to li a{
    list-style: none;
    font-family: monospace;
    font-size: 15px;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
    color: var(---color_white);
}

.links-section-go-to li a:hover{
    opacity: 0.7;
}

.links-section-go-to{
    text-align: center;
}

.form-contatos ul{
    text-align: center;
    display: flex;
    justify-self: center;
    gap: 1rem;
}

.form-contatos ul li a{
    font-size: 27px;
    cursor: pointer;
    color: #ffffff80;
}

.swiper {
    margin: 1rem;
    width: 100%;
}

.swiper-wrapper{
    display: flex;
    justify-content: space-between;
}
  
.swiper-slide {
    display: flex;
    justify-items: anchor-center;
    flex-direction: column;
    align-items: center;
    transform: rotate(-5deg);
}
.swiper-button-next, .swiper-button-prev {
    padding: 10px;
    color: white !important;
    font-size: 15px !important; /* Ajuste o tamanho aqui */
    transition: opacity 0.3s ease-in-out;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    color: rgb(0, 0, 0) !important;
    opacity: .7;
}

.preview_item_slide{
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s;
}

.modal-contato-box h3, .modal-contato-box p {
    font-family: monospace;
}

.swiper-slide img:hover{
    opacity: .7;
}

.swiper-slide img {
    width: 50px;
    transition: opacity 0.3s ease-in-out;
    height: 50px;
    margin-bottom: 12px;
    transform: rotate(10deg);
}

.swiper-slide p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #8b949e;
}
.service-item {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}
main {
    max-width: 1200px;
    margin: 0 auto;
}
.main_service_list > item {
    display: flex;
    flex-direction: column;
}
  
.service-item:hover {
    transform: translateY(-8px);
}
.item_list img{
    width: 250px;
    height: auto;
}
.modal-contato-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .modal-contato-overlay.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  
.modal-contato-box {
    background: #000;
    border: 1px solid #595959b8;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.button_mail{
    font-size: 27px;
    cursor: pointer;
    color: #ffffff80;
}

.button_whats{
    font-size: 27px;
    cursor: pointer;
    color: #ffffff80;
}

.modal-contato-box ul{
    margin-top: 1rem;
    display: flex;
    justify-self: center;
    gap: 0.5rem;
}

.button_telegram{
    font-size: 27px;
    cursor: pointer;
    color: #ffffff80;
}

.close-modal {
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

.close-modal:hover{
    opacity: .7;
}

.item_list{
    display: flex;
    padding: 0.5rem;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
}

.btn-preview{
    overflow: hidden;
    position: relative;
    border: 1px solid #595959b8;
    background: transparent;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 0.5rem;
    border-radius: 30px;
}

.btn-solicitar{
    overflow: hidden;
    position: relative;
    border: 1px solid #595959b8;
    background: transparent;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 0.5rem;
    border-radius: 30px;
}

.content_sobre {
    font-size: 1rem;
    line-height: 1.5;
    word-wrap: break-word; /* Quebra as palavras quando necessário */
    white-space: pre-wrap; /* Respeita as quebras de linha */
    margin: 20px;
}

@media (max-width: 768px) {
    .separator-3 a{
        padding: 5px 15px;
    }
    .content_sobre {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte para telas menores */
    }
    .swiper-slide img{
        transform: rotate(0);
    }

    .separator-2 ul{
        flex-wrap: wrap;
        display: flex;
        gap: 0.3rem;
        padding: 0.5rem;
    }
    
    .item_list img{
        width: 100%;
    }

    .item_list{
        height: 600px;
    }
    
    .separator-2 ul{
        flex-direction: column;
    }

    .separator-2 ul li{
        font-size: 13px;
    }
    .cab-x{
        margin: 0.3rem 0.5rem 0px 0.5rem
    }
    
}